# ========================================
# Product Recommendation System - .gitignore
# ========================================

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Model Files (too large)
artifacts/*.pkl

# Database
*.db
*.sqlite
*.sqlite3
app/instance/

# Environment
.env
*.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# DATA FOLDER (excluded - too large for GitHub)
data/

# NOTEBOOKS FOLDER
notebooks/

#presentation
presentation/diagrams/
presentation/diagrams/system_architecture.mermaid

#report
report

#app
app/static/img/