# ========================================
# Product Recommendation System - .gitignore
# ========================================

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Model Files (too large - exclude only the huge one)
artifacts/knn_basic_model.pkl

# Database
*.db
*.sqlite
*.sqlite3
app/instance/

# Environment
.env
*.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# DATA FOLDER - exclude raw data but keep processed for deployment
data/raw/
data/processed/amazon_products_with_reviews.csv

# NOTEBOOKS FOLDER
notebooks/

#report
report

#app
app/static/img/
